<h1>Fighting!</h1>
<div>
    <span class="health">Health: <%=session[:health]%></span>
<span class="monster">Monster's Health: <%=session[:monster]%></span>
</div>
<p>He looks fierce. Ready to slay.</p>

<p>What would you like to do?</p>
<a href='/attack'>Attack</a>
<a href='/begin'>Run away</a>